<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ba8aa8">  <td>16/08/19 16:42:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactInformationScreen.ChangePasswordscreenTest()[pri:0, instance:com.code.java.selenium.ContactInformationScreen@5056dfcb]">ChangePasswordscreenTest</td> 
  <td>main@214074868</td>   <td></td> </tr>
<tr bgcolor="ba8aa8">  <td>16/08/19 16:42:44</td>   <td>-10851</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactInformationScreen.setUp()[pri:0, instance:com.code.java.selenium.ContactInformationScreen@5056dfcb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@214074868</td>   <td></td> </tr>
</table>
